@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100vh;
  direction: ltr;
  display: table;
}

table {
  direction: ltr;
  width: 100%;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  max-width: 800px;
}

tr {
  vertical-align: center;
  direction: ltr;
  font-family: "Fredoka", sans-serif;
  display: table-row;
  vertical-align: inherit;
  text-indent: initial;
  max-width: 800px;
}

td {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  text-indent: initial;
  direction: ltr;
  text-align: center;
  margin: 0;
  max-width: 800px;
}

span {
  color: #ffffff;
  font-family: 'Fredoka', sans-serif;
  text-align: left;
  font-size: 18px;
  max-width: 800px;
  font-weight: bold;
}

.info {
  background-color: #CCE3FB;
}

.td_span {
  width: 75%;
  max-width: 800px;
  vertical-align: 10vh;
  margin: 0;
  min-height: 100px; /* Defina a altura mínima desejada aqui */
}

.head_tb {
  background: url('');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.foot_tb {
  background: url('');
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  margin-top: 0;
}

/* Responsividade */
@media only screen and (min-width: 1200px) {
  span {
    font-size: 22px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  span {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  span {
    font-size: 14px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  span {
    font-size: 8px;
  }
}

@media only screen and (max-width: 575px) {
  span {
    font-size: 6px;
    line-height: 1.5px;
  }
}

@media only screen and (max-width: 400px) {
  span {
    font-size: 3px;
    line-height: 1px;
  }
}

@media only screen and (max-width: 320px) {
  span {
    font-size: 2px;
    line-height: 0.5px;
  }
}